@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Zilla+Slab&display=swap');

body {
    background-color: #FCEBB6;

    background-image: url(images/fadedroad50.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: #221811;
    font-family: 'Zilla Slab', serif;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FEFAEB;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px 5px #676767;
}

header {
    background-color: #D2B48C;
    color: #8C3826;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #8C3826;
}

h3,
dt {
    color: #8C3826;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a {
    text-decoration: none;
}

main {
    padding: 0em, 2em, 2em, 2em;
    display: block;
}

.details {
    padding: 0%, 20%
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    padding: 0px, 10px;
}

#homehero {
    height: 300px;
    background-size: cover;
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
}

footer {
    background-color: #D2B48C;
    text-align: center;
    font-size: .60em;
    font-style: italic;
    font-family: 'Zilla Slab', serif;
    padding: 1em;
    border-top: solid #8C3826;
}